<div class="row">
    <div class="col-12">
      <h3>1. Please upload a transactional file with a specific format</h3>
    </div>
    <div class="col-12">
        <div class="table">
            <div class="table-cell">
              <div class="container">
                <div id="profile" (click)="onClickSelectFile()">
                  <div class="dashes" [ngClass]="{'processing': isImporting(), 'done': isDone()}"></div>
                  <label>{{status}}</label>
                </div>
                <div class="editable">
                  <h1 class="customize">{{getFileName()}}</h1>
                </div>
                
                <button class="upload-btn" [hidden]="isShowDoneBtn()" (click)="upload()" [disabled]="isUploadBtnDisabled()">Upload</button>
                <button class="upload-btn-done" [hidden]="!isShowDoneBtn()" (click)="onClickNext()" [disabled]="isUploadBtnDisabled()">Next</button>
              </div>
            </div>
          </div>
          <input type="file" #mediaFile id="mediaFile" (change)="selectFile($event)" />
    </div>
</div>