<div class="row">
  <div class="col-12">
    <h1>Welcome Ben to sMart!</h1>
  </div>
  <div class="col-12">
    <h3>1. Select a store</h3>
  </div>
  <div class="app-pick-store-container col-12">
    <div class="row">
      <div class="col-12">
          <app-pick-store-item *ngFor="let store of storeList" [storeName]="store.storeName" [storeDescription]="store.storeDescription"></app-pick-store-item>
      </div>
    </div>
  </div>
  <div class="col-12 new-section">
      <h3>2. Select a product</h3>
  </div>
  <div class="col-12 app-select-product-container">
    <div class="row">
      <div class="col-12">
        <app-select-product *ngFor="let product of productList" [productName]="product.name" (click)="onClickProduct(product)"></app-select-product>
      </div>
    </div>
  </div>
</div>