.app-pick-store-container {
    padding: 15px;
    max-height: 60%;
    overflow-y: auto;
}

.app-select-product-container {
    max-height: 40%;
    overflow-y: auto;
}

.new-section {
    margin-top: 30px; 
}

