<div class="row">
  <div class="col-4">
    <div class="row">
      <div class="col">
        <h3>Select a product</h3>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-form-field fxFlex="40%">
                <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
             </mat-form-field>
        </div>
    </div>
    <div class="row product-panel">
      <div class="col-12" *ngFor="let p of productList | myfilter:filterValue">
        {{p.name}}
      </div>
    </div>
  </div>
  <div class="col-8">

  </div>

</div>
