<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#"><h2>sMART</h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-2 left-menu-container">
      <div class="row">
        <div class="col left-menu">
          <div class="col-12 menu-item" routerLink="/after-login/home" routerLinkActive="active">
            <i class="fas fa-home"></i> Home
          </div>
          <div class="col-12 menu-item" [hidden]="!isShopper()" routerLink="/after-login/shopper/select-item" routerLinkActive="active">
            <i class="fas fa-football-ball"></i> Explore Products
          </div>
          <div class="col-12 menu-item"  [hidden]="!isShopper()" routerLink="/after-login/shopper/virtual-cart" routerLinkActive="active">
            <i class="fas fa-shopping-cart"></i> My virtual cart
          </div>
          <div class="col-12 menu-item"  [hidden]="!isStore()" routerLink="/after-login/store/upload-file" routerLinkActive="active">
            <i class="fas fa-upload"></i> Upload File
          </div>
          <div class="col-12 menu-item"  [hidden]="!isStore()"  routerLink="/after-login/store/store-association-result" routerLinkActive="active">
            <i class="fas fa-search-dollar"></i> Query Items
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>