nav {
    background-color: white !important;

    & .navbar-brand>h2 {
        font-weight: 900;
    }
}


.navbar-dark .navbar-brand, .navbar-dark .navbar-nav .nav-link {
    color: #a21d22;
}

.container-fluid {
    & .left-menu-container {
        display: flex;
        height: 90%;
        border-right: 3px solid #00000021;
        & .left-menu {
            align-self: flex-start;
            justify-content: center;
            & .menu-item {
                margin-top: 50px;
                margin-bottom: 50px;
                cursor: pointer;

               
            }

            & .active {
                border-left: 3px solid red;
            }
        }
    }

    & .content-container {
        padding-left: 50px;
        padding-top: 30px;
    }
}

